SUPABASE_URL=https://mfpcatppiegqtaaqjgij.supabase.co
SUPABASE_KEY=sua-chave-anon-aqui
SUPABASE_TABLE=formulario
SUPABASE_STORAGE_BUCKET=Form
SUPABASE_FUP_FILE=relatorio_fup.xlsm
FORM_BASE_URL=http://localhost:8501
